<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% extends "base.html" %}

        {% block content %}
            <p>Logged out!</p>

            <a href="{% url 'login' %}">Click here to login again.</a>
        {% endblock %}
    </title>
</head>
<body>

</body>
</html>