<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% extends "base.html" %}
        {% block content %}
            <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check
            your
            spam folder.</p>
        {% endblock %}
    </title>
</head>
<body>

</body>
</html>