<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% extends "base.html" %}
        {% block content %}

            <h1>The password has been changed!</h1>
            <p><a href="{% url 'login' %}">log in again?</a></p>

        {% endblock %}
    </title>
</head>
<body>

</body>
</html>