{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
    {% for field in form %}
        <label>{{ field.label }}</label>
        <div>{{ field }}</div>
        {% if field.errors %}
        <p>{{ field.errors }}</p>
        {% endif %}
    {% endfor %}
    <button type="submit">Sign Up</button>
    </form>
{% endblock %}
