{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
    <style>
        a {
            padding: 10px 10px;
            color: black;
        }
    </style>
</head>
<body>
<div id="header">
    <a href="/" class="logo">My shop</a>

    <div style="display: block; float: right;">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log Out({{ user.username }})</a>
        {% else %}
            <a href="{% url 'accounts:register' %}">Sign Up</a>
            <a href="{% url 'login' %}">Sign In</a>
        {% endif %}
    </div>
</div>

<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                Your cart:
                <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_price }}
                </a>
            {% else %}
                Your cart is empty.
            {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>