{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="submit"/>
    </form>
{% endblock %}