{% extends "base.html" %}

{% block content %}
    <p>Do you want to delete product: {{ product }}?</p>
    <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Yes, delete"/>
    </form>
{% endblock %}